h2{
  text-align: center;
}

.btn{
  display: block; /* Buttons are inline by default, this changes it to a block-level element */
  margin: 0 auto;
}

.result{
 text-align: center;
 margin-top: 10px;
}